# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary & database files
data/*.tmp
*.tmp

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment and IDE settings
.env
.vscode/
.idea/
